@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

body {
  background: rgb(22, 18, 43);
  color: #ffffff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Snowburst One', cursive;
  color: #ff304f;
  border-bottom: 4px solid #17b978;
  padding-bottom: 2px;
  margin-top: 1rem;
}

h1 span {
  font-family: 'Snowburst One', cursive;
  color: #ffffff;
}

h2 {
  max-width: 80vw;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: -1rem;
}

p {
  margin-bottom: 1rem;
}

p a {
  color: #17b978;
}

#myCanvas {
  margin-top: -1rem;
  max-width: 90vw;
}

.button {
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  background: #ff304f;
  color: #ffffff;
  border: 5px dotted #17b978;
  cursor: pointer;
}

#file-input {
  display: none;
}

#download-button {
  display: none;
}
